#game-image-cover {
    background-image: url('/assets/images/kingdom-hearts/kh-gamepage-cover.jpeg');
    background-size: cover;
}

.game-image-2 {
    background-image: url('/assets/images/kingdom-hearts/kh-gamepage-extra.jpeg');
    background-size: cover;
    
}
.game-image-3 {
    background-image: url('/assets/images/kingdom-hearts/kh-gamepage-extra-2.jpeg');
    background-size: cover;

}